body {
  background-color: #dcd3d1;
}

.titles {
  margin: 2vw !important;
  text-align: center;
}

.titleHome {
  margin: 5vw !important;
  text-align: center;
}

.basicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
  max-width: 95vw;
}

.secondaryContainer {
  background-color: #c5b3ae;
  width: 90%;
  padding: 4vw;
  margin-left: 1vw;
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeAlumno {
  width: 100%;
  height: 100vh; /* Make sure it covers the full viewport height */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("https://res.cloudinary.com/dvxkjikvk/image/upload/v1740667601/campus/backgroundmovil.jpg");
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents tiling */
}

.mensajeBienvenida {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  width: 90%;
  background-color: rgba(253, 253, 253, 0.7);
}

.inputDiv {
  display: flex;
  justify-content: center;
  padding: 3vw;
}

.oneRowDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  margin: 3vw;
}
.login {
  background-image: url("https://res.cloudinary.com/dvxkjikvk/image/upload/v1740830522/campus/openart-91ac6983-dbf9-42c8-9411-368ea05d48f7_ik24fb.png");
  background-size: cover;
  background-color: rgba(220, 211, 209, 0.7);
  background-blend-mode: lighten;
  /* Ensures the image covers the entire div */
  background-position: center;
  /* Centers the background image */
  background-repeat: no-repeat; /* Prevents tiling */
}

.registro {
  width: unset;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  margin: 2vw;
}

a {
  text-decoration: none;
  color: inherit;
  /* margin: 1vw; */
}

.classSelector {
  width: 60vw;
}

.inputLista {
  margin-right: 3vw;
  margin-top: 3vh;
}

.tablaMaterial {
  display: block !important;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  width: 100%;
  min-width: 100%;
  /* table-layout: fixed; */
}

.tablaMaterial thead,
.tablaMaterial tbody {
  width: 100%; /* Keeps headers aligned */
}

.tablaMaterial th,
.tablaMaterial td {
  min-width: 150px;
}

.devoluciones {
  width: 30vw;
  max-height: 10vh;
  overflow-y: auto;
  white-space: pre-wrap;
  overflow-x: hidden;
  text-align: left!important;
}

.spanTable {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 3vw;
  align-items: center;
}

.subSpanTable {
  display: flex;
  gap: 3vw;
}

.linkArchivo {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.uploadVariant {
  width: max-content;
  display: flex;
  flex-direction: column;
}

.spanArchivos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
table {
  min-width: 60vw;
}
th {
  max-width: 6vw;
  flex-wrap: wrap;
  font-weight: bolder !important;
  padding: 2vh 1vh 2vh 1vw !important;
  text-align: center !important;
}

.signoPesos {
  align-self: center;
  margin-right: 2vw !important;
}

td {
  text-align: center !important;
  width: 20vw;
  padding: 2vh 1vh 2vh 1vh !important;
}

.asistencias td {
  max-width: 5vw;
}
span {
  display: flex;
  justify-content: center;
}

.repsonsiveiFrame {
  /* position: relative; */
  /* overflow: hidden; */
  width: 100%;
  padding-top: 3vh;
}
iframe {
  /* position: absolute; */

  width: 100%;
  height: 40vh;
}
.asistenciasContainer {
  margin: 3vw;
}

.datePicker {
  width: 60vw;
}

.logo {
  width: 4vw;
  border-radius: 0.3vw;
}

.logoMovil {
  width: 10vw;
  border-radius: 0.7vw;
  margin: 1vh;
}

.navbarButton {
  color: unset !important;
}

.linkNavbar {
  margin: 1vw 0 1vw 0;
  align-self: center;
}
.cerrarSesion {
  font-size: unset !important;
}

.buttonEnviarTp {
  height: min-content;
}

.buttonWithMargin {
  margin: 2vw !important;
}

.calendario {
  width: 100%;
}

@media only screen and (min-width: 720px) {
  .spanTable {
    flex-direction: row !important;
    width: 95%;
    align-items: flex-start;
    gap: 1vw;
  }

  .classSelector {
    width: 25vw;
    margin: 3vw;
  }

  .materialForm {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .linkArchivo {
    flex-direction: row;
    gap: 1vw;
  }

  .buttonMetodoCarga {
    padding: 0 !important;
  }
  .inputPagos {
    width: 15vw;
  }

  .datePicker {
    width: 30vw;
  }

  th {
    font-size: large !important;
    padding: 3vh !important;
    text-align: unset !important;
  }

  td {
    padding: 3vh !important;
    text-align: unset !important;
  }
  .oneRowDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    margin: 3vw;
  }

  .repsonsiveiFrame {
    width: 100%;
    height: 50vw;
  }
  iframe {
    width: 100%;
    height: 100%;
  }

  .homeAlumno {
    background-image: none;
    align-items: stretch;
  }

  .mensajeBienvenida {
    background-color: #ffffff;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .imgSideBienvenida {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: white;
  }
}
